.header {
  background-color: bisque;
  text-align: center;
}

.content {
  display: flex;
}

.description {
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 25px;
}

.dog {
  width: 50%;
  margin-right: 100px;
}

.dog-img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.dog-button {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 20px;
  background-color: cornflowerblue;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: white;
}

.doglist-button {
  background-color: cornflowerblue;
  color: white;
}

.breeds-select {
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  background-color: bisque;
}

.breeds-select-label {
  margin: 10px;
}

.breeds-select-dropdown {
  width: 200px;
  font-size: medium;
  text-align-last: center;
  margin: 10px;
}

.doglist-container {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 20vw);
  grid-gap: 15px;
}

.doglist-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
